@model HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Details List";
    var PhotoPath = "~/images/" + (Model.Employee.PhotoPath ?? "noimage.png");
}
    <br /> <br />
    <div class="row justify-content-center m-3">
        <div>
            <div class="card">
                <div class="card-header">
                    <h3>@Model.Employee.Name</h3>
                    <img src="@PhotoPath" class="card-img-top"
                         alt="Alternate Text"
                         style="width:250px;"
                         asp-append-version="true"
                         />
                </div>
                <div class="card-body text-center">
                    <p>
                        Employee Name:          @Model.Employee.Name
                        Employee Email:         @Model.Employee.Email
                        Employee Department:    @Model.Employee.Department
                    </p>
                    
                </div>
            </div>
            <div class="card-footer text-center">
                <a asp-action="index" asp-controller="home" class="btn btn-info btn-sm rounded-0">Back</a>
                <a class="btn btn-primary btn-sm rounded-0" 
                   asp-action="edit"
                   asp-route-id="@Model.Employee.Id"
                   >
                Edit</a>
                <a href="#" class="btn btn-danger btn-sm rounded-0">Delete</a>
            </div>
        </div>
    </div>

@section Scripts {

    <script src="~/js/CustomScript.js"></script>
}
